In [1]:
import numpy as np
import pandas as pd
#%matplotlib notebook
%matplotlib inline

import the dataset into a dataframe

In [2]:
df=pd.read_csv("Salaries.csv")
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

display the column names

In [3]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

display the number of rows and cols

In [4]:
df.shape

(148654, 13)

display the dataframe info (types of data in columns and not null values etc.)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

display stats of the dataframe like count, mean, std, max, 25% etc.....

In [6]:
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

display null values per column

In [7]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

remove columns will all values as NaN

In [8]:
df1=df.dropna(axis=1,how='all')
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,San Francisco
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,San Francisco
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,San Francisco
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,San Francisco

display number of unique values in each column

In [9]:
df1.nunique()

Id                  148654
EmployeeName        110811
JobTitle              2159
BasePay             109489
OvertimePay          65998
OtherPay             83225
Benefits             98465
TotalPay            138486
TotalPayBenefits    142098
Year                     4
Agency                   1
dtype: int64

mean of total pay of all people based on year

In [10]:
df['TotalPay'].mean()

74768.321971703

how many people have 0 overtime pay

In [11]:
df2=df1[df1['OvertimePay']== 0.00]
df1[df1['OvertimePay']== 0.00]['Id'].count()

77321

max, min, mean, median and other stats of TotalPay of people having 0 OvertimePay

In [12]:
df2['TotalPay'].describe()

count     77321.000000
mean      60229.348901
std       49307.912350
min        -618.130000
25%       13290.450000
50%       58158.590000
75%       91115.090000
max      567595.430000
Name: TotalPay, dtype: float64

find Id of that person with max TotalPay you got in previous question

In [13]:
max1=df2['TotalPay'].max()
print(df2[df2['TotalPay']==max1]['Id'])

0    1
Name: Id, dtype: int64

name of employee with total pay benefits = 87619.78

In [14]:
df2[df2['TotalPayBenefits']==87619.78]['EmployeeName']

12345    REBECCA CHIU
Name: EmployeeName, dtype: object

how many people have BasePay > 150000 and OvertimePay > 100000

In [15]:
df1[(df1['BasePay']>150000) & (df1['OvertimePay']>100000)]['Id'].count()

12

which job title generally has highest average TotalPayBenefits

In [16]:
df1.groupby('JobTitle')['TotalPayBenefits'].mean().sort_values(ascending=False)

JobTitle
Chief Investment Officer                              436224.360000
Chief of Police                                       411732.266667
Chief, Fire Department                                408865.326667
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY        399211.275000
Gen Mgr, Public Trnsp Dept                            380696.440000
Dep Dir for Investments, Ret                          355731.260000
Mayor                                                 354212.906667
Adm, SFGH Medical Center                              347079.706667
Controller                                            343061.140000
Asst Chf of Dept (Fire Dept)                          342597.550556
Dept Head V                                           340643.507222
Administrator, DPH                                    331564.035000
Dep Chf of Dept (Fire Dept)                           326752.242857
Deputy Chief 3                                        324670.490952
Port Director                                         322142.336667
Assistant Deputy Chief 2                              317775.503636
Manager, Dept Public Health                           314138.620000
Emergency Medical Svcs Chief                          313422.996667
Executive Contract Employee                           309776.574286
District Attorney                                     309675.956667
DEPUTY DIRECTOR OF INVESTMENTS                        307899.460000
Battalion Chief, Fire Suppress                        306954.552769
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)                302377.730000
City Attorney                                         295917.083333
Public Defender                                       287050.430000
Sheriff (SFERS)                                       285238.856667
Asst Med Examiner                                     284933.354167
Commander 3                                           284245.975556
Cfdntal Chf Atty 2,(Cvl&Crmnl)                        280048.710000
Forensic Toxicologist                                 279469.755000
                                                          ...
Pool Lifeguard                                          5856.973396
Camp Assistant                                          4376.790738
RECREATION DIRECTOR                                     4185.114000
Swimming Instructor                                     4143.219016
JUNIOR CLERK                                            4054.687547
CAMP ASSISTANT                                          3997.515763
Special Assistant 8                                     3941.350000
Testing Technician                                      3672.217986
ORTHOPEDIC TECHNICIAN I                                 3583.400000
WAREHOUSE WORKER                                        3369.710000
Conversion                                              3361.440000
Public Service Aide-Technical                           2774.270000
ASSISTANT RECREATION SUPERVISOR                         2474.410000
Commissioner No Benefits                                2449.257015
TESTING TECHNICIAN                                      2308.294262
Barber                                                  2281.268571
COMMISSIONER                                            2271.694348
Cashier 3                                               2074.600000
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI      1927.500000
Special Examiner                                        1680.148364
BdComm Mbr, Grp5,M$100/Mo                               1274.827470
SPECIAL EXAMINER                                        1201.260000
BOARD/COMMISSION MEMBER, GROUP V                        1195.904464
BdComm Mbr, Grp3,M=$50/Mtg                               973.106034
SPECIAL ASSISTANT XIV                                    673.800000
BOARD/COMMISSION MEMBER, GROUP III                       638.787879
BdComm Mbr, Grp2,M=$25/Mtg                               475.047742
BOARD/COMMISSION MEMBER, GROUP II                        296.511628
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN                  149.510000
Not provided                                               0.000000
Name: TotalPayBenefits, Length: 2159, dtype: float64

How many employees are POLICE

In [17]:
# .str.contains()
sum(df1['JobTitle'].str.upper().str.contains('POLICE'))

8201